<h1>Test d'affichage de l'index.js</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quas, enim ratione quidem aperiam harum quae accusantium ad incidunt facilis optio provident obcaecati nobis cupiditate asperiores fuga officiis sint quasi soluta! Atque accusamus eaque aliquid provident itaque laboriosam alias doloribus, vitae numquam, enim aperiam exercitationem fugit quas unde ea mollitia?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, ex nam itaque repellat culpa tenetur.
</p>